USE [master]
GO
/****** Object:  Database [TP_Cursada]    Script Date: 13/07/2023 15:12:19 ******/
CREATE DATABASE [TP_Cursada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_Cursada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BIGLIESQLSERVER\MSSQL\DATA\TP_Cursada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_Cursada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BIGLIESQLSERVER\MSSQL\DATA\TP_Cursada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Cursada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Cursada]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 13/07/2023 15:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Usuario] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[InsertTime] [datetime] NOT NULL,
	[DVH] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVVs]    Script Date: 13/07/2023 15:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVVs](
	[dv_value] [varchar](50) NOT NULL,
	[dv_table] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/07/2023 15:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [nvarchar](50) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FailedLogIns] [int] NOT NULL,
	[Profile] [nvarchar](50) NOT NULL,
	[Lock] [bit] NOT NULL,
	[DVH] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
